.Button {
    background-color: #025;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition-duration: .5s;
}

.Button:hover {
    background-color: green;
}